In [3]:
import pathlib

import numpy as np
import pandas as pd

In [2]:
tcpath = pathlib.Path(r"C:\Users\stacy\data\topcoder")

In [4]:
train_key = pd.read_csv(tcpath / "trainingAnswers.csv")
train_key

       RunID  SourceID  SourceTime
0     100001         0         0.0
1     100002         0         0.0
2     100003         0         0.0
3     100004         0         0.0
4     100005         0         0.0
...      ...       ...         ...
9695  109696         6        32.5
9696  109697         6       224.4
9697  109698         6        76.7
9698  109699         6        60.9
9699  109700         6        31.3

[9700 rows x 3 columns]

In [22]:
train_key[train_key.RunID > 104000].sample(30).sort_values("RunID")

       RunID  SourceID  SourceTime
4025  104026         0         0.0
4205  104206         0         0.0
4229  104230         0         0.0
4466  104467         0         0.0
4474  104475         0         0.0
5430  105431         1        41.9
5482  105483         1        66.1
5581  105582         1        85.5
5672  105673         1        50.5
5757  105758         2        66.2
6008  106009         2       270.9
6009  106010         2        63.0
6187  106188         2        33.0
6383  106384         2        42.5
6575  106576         3        59.7
6646  106647         3        36.7
6659  106660         3        30.4
6788  106789         3        31.6
6940  106941         3        41.1
7293  107294         3        51.0
7390  107391         4        45.7
7549  107550         4        38.9
7750  107751         4        90.0
8025  108026         4        43.3
8239  108240         5        30.1
9047  109048         6        96.5
9186  109187         6        42.7
9372  109373         6        90.1
9640  109641         6        45.4
9678  109679         6       190.4

In [23]:
runs = pd.concat([
    train_key[train_key.SourceID==source].sample(5) for source in range(7)]
)

In [24]:
runs

       RunID  SourceID  SourceTime
366   100367         0         0.0
963   100964         0         0.0
2561  102562         0         0.0
3789  103790         0         0.0
1062  101063         0         0.0
5534  105535         1        38.9
5662  105663         1        53.8
5242  105243         1        51.5
5322  105323         1        31.7
4918  104919         1        72.8
6058  106059         2       223.5
6353  106354         2        47.6
6332  106333         2       278.2
6046  106047         2        56.3
6079  106080         2        77.2
6679  106680         3        45.1
7215  107216         3        49.9
6593  106594         3        43.8
7271  107272         3        36.8
7051  107052         3        72.1
7609  107610         4        60.7
7701  107702         4        58.4
7565  107566         4       123.4
7378  107379         4       143.4
7848  107849         4       150.0
8780  108781         5        81.1
8124  108125         5        30.6
8355  108356         5       232.7
8536  108537         5       145.5
8277  108278         5        30.2
9224  109225         6        43.3
8994  108995         6       170.4
9494  109495         6        45.6
9645  109646         6       377.1
9623  109624         6       101.2

In [35]:
def read_array(run):
    return np.genfromtxt(
        tcpath / "training" / f"{run}.csv", delimiter=",", dtype=np.int32)

In [39]:
runs_dict = {
    str(run): read_array(run) for run in runs.RunID.to_list()
}

In [40]:
np.savez_compressed("spectra.npz", **runs_dict)

In [41]:
read_runs = np.load("spectra.npz")

In [43]:
list(read_runs.keys())

['100367',
 '100964',
 '102562',
 '103790',
 '101063',
 '105535',
 '105663',
 '105243',
 '105323',
 '104919',
 '106059',
 '106354',
 '106333',
 '106047',
 '106080',
 '106680',
 '107216',
 '106594',
 '107272',
 '107052',
 '107610',
 '107702',
 '107566',
 '107379',
 '107849',
 '108781',
 '108125',
 '108356',
 '108537',
 '108278',
 '109225',
 '108995',
 '109495',
 '109646',
 '109624']

In [45]:
read_runs["107610"].shape

(80011, 2)

In [26]:
source_info = pd.read_csv(tcpath / "SourceData.csv", index=False)
source_info

TypeError: read_csv() got an unexpected keyword argument 'index'

In [9]:
pd.unique(source_info.SourceType)

array(['HEU', 'WGPu', '131I', '60Co', '99mTc'], dtype=object)

In [13]:
sources = source_info[source_info.Shielding==0].groupby(["SourceType", "SourceID"]).first().iloc[:, 0].reset_index()
sources

  SourceType  SourceID  Shielding
0       131I         3          0
1       60Co         4          0
2      99mTc         5          0
3        HEU         1          0
4       WGPu         2          0

In [17]:
sources.iloc[:, [1, 0]].to_csv("sources.csv", index=False)